table {
  border-collapse: collapse;
  width: 300px;
}
th, #Y { 
	height: 30px;
  background: #fff;
}

#ae {
	background: #fff;
}

td {
	height: 30px;
  background: #fff;
}



th, td {
  border: 1px solid black;
  padding: 4px;
  text-align: center;
}

table
	input {
		width : 50px;
		border: 1px;
		text-align: center;
		background-color: transparent;
	}

#step 
	div{
		float: left;
		display: block;
		padding: 2px;
		border: 1px solid black;
		margin: 5px;
	}

#equations {
  width: 40%;
}

#cell {
	float: left;
}

#main {
	border: 2px solid white; 
}

.button {
	float: left;
	background: #fff;
	border: 1px solid black ;
	border-radius: 3px;
}
.row{
	height: 99%;
	width: 49%;
}

.cell{
	white-space:normal;
	height: 49%;
	width: 70px;
}

.enter{
	float: right;
	height: 50%;
	width: 30%;
}

.ex{
	height: 33%;}
.inputRow{
	width: 30%;
	height: 50%;
	border: 1px solid #000;
}
.inputCell{
	border: 1px solid #000;
	width: 30%;
	height: 50%;
}